<app-home> <!-- Navigation menu from home component --> </app-home>

<h2>Reservation List</h2>

<ul *ngIf="reservations.length; else noElements">
  <li *ngFor="let reservation of reservations">
    Guest: {{ reservation.guestName }} <br />
    Email: {{ reservation.guestEmail }} <br />
    Room Number: {{ reservation.roomNumber }} <br />
    Check In: {{ reservation.checkInDate }} <br />
    Check Out: {{ reservation.checkOutDate }} <br />
    <button (click)="deleteReservation(reservation.id)">Delete</button>
    <button [routerLink]="['/edit', reservation.id]">Edit</button>  
</li>
</ul>

<!-- The local reference #noElements is used in combination with
 the *ngIf directive in the ul tag, to check if there are 
 elemnts in the list or not, and show a message in this case -->
<ng-template #noElements>
  <p>No reservation available</p>
</ng-template>
